.text {
	font-family: 'Oswald', sans-serif;
}
.book {
    text-align:center;
	margin:5px;
	padding:0;
	width: 180px;
	height: 250px;
	font-family: 'Oswald', sans-serif;
	}
.imgs {
    display: block;
    max-width: 100%;
    }
 .bio {
   font-family: 'Bad Script';
   text-align: justify
 }
 